interval=${2-10}

if [[ ("$1" != "inc") && ("$1" != "dec") ]]; then
  echo "Only inc and dec are allowed for the first argument"
  exit 1
fi

dec() {
  xbacklight dec ${interval} &> /dev/null
  if [[ $? -ne 0 ]]; then
    for output in $(/usr/bin/xrandr --listactivemonitors | egrep "^ *[0-9]+:" | awk '{print $4}'); do
      current_brightness=$(/usr/bin/xrandr --verbose | grep -a10 ${output} | grep -i brightness | awk '{print $2}')
      new_brightness=$(echo "scale=2; ${current_brightness}-${interval}/100" | bc)
      /usr/bin/xrandr --output ${output} --brightness ${new_brightness}
    done
  fi
}

inc() {
  xbacklight inc ${interval} &> /dev/null
  if [[ $? -ne 0 ]]; then
    for output in $(/usr/bin/xrandr --listactivemonitors | egrep "^ *[0-9]+:" | awk '{print $4}'); do
      current_brightness=$(/usr/bin/xrandr --verbose | grep -a10 ${output} | grep -i brightness | awk '{print $2}')
      new_brightness=$(echo "scale=2; ${current_brightness}+${interval}/100" | bc)
      /usr/bin/xrandr --output ${output} --brightness ${new_brightness}
    done
  fi
}

eval "${1}"
