[Desktop Entry]
Name[en]=Dropbox (for EOS)
GenericName=File Synchronizer
Comment[en]=This ensures the system tray icon appears on Elementary OS
Exec=bash -lic 'XDG_CURRENT_DESKTOP=Unity dropbox start -i'
Terminal=false
Type=Application
Icon=dropbox
Categories=Network;FileTransfer;
StartupNotify=false
X-GNOME-Autostart-enabled=true
