gnome-screensaver &
gnome-settings-daemon &
/home/${USER}/.dropbox-dist/dropboxd &
/usr/bin/caffeine-indicator &
/usr/bin/nm-applet &

export $(/usr/bin/gnome-keyring-daemon --start --components=pkcs11,secrets,ssh,gpg)

xrdb -cpp /usr/bin/cpp-4.7 -merge ~/.Xresources
xrandr --output HDMI2 --right-of HDMI1

exec awesome
